.nav-header {
    display: inline-block;
    vertical-align: top;
}
.header-logo img{
    width: 23%;
    padding: 1%;
}

nav {
   width: 73%;
   padding: 1%; 
}

.nav-header ul {
    width: 50%;
    margin-left: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}



.inline-block {
    display: flex;
}

.hero-image img{
    width: 500px;
}

.hero-image {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
    
}


footer {
    background: navy;
    width: auto;
    height: fit-content;
    padding: 5px;
    
}

footer p{
   color: beige;
}

footer h1{
    color:beige;
}

