.nav-header {
    display: flex;
    flex-direction: row;
    vertical-align: top;

}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img{
    width: 50%;
    height: 30%
    vertical-align: top;
    top: 10px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.nav-header ul li{
    margin-left: 0;
    margin-right: 24px
    list-style-type: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;

}



.inline-block {
    display: flex;
}

.hero-image img{
    width: 500px;
}

.hero-image {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
    
}

footer {
    background: darkolivegreen;
    width: auto;
    height: fit-content;
    padding: 5px;
    
}

footer p{
   color: beige;
   font-size: 10px;
}

footer h2{
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight:100
}

footer h1{
    color:beige;
}

