.nav-header {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
}

nav {
   width: 73%;
   padding: 1%; 
}

.nav-header ul li {
    width: 50%;
    margin-left: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;

}

.heder-logo img{
    position: absolute;
    left: 50%;
}

.inline-block {
    display: flex;
}

.hero-image {
    height: 600px;
    padding: 25px;
}

p.hero-image {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: #373738;
    width: auto;
}

p.footer {
    /*align h1 and p text with linkedin icon*/
}

